{% extends 'base/user.html.twig' %}




{% block body %}

<h1 class="mes_nichoirs">
    <!-- TODO
    ajouter un nichoir
    -->
    <a href="/createNichoir" class="ajouter">Ajouter un nichoir</a>
    Mes nichoirs</h1>
    <div class="container_nichoirs">
    {% for nichoir in nichoirs %}
        <div class="card" style="border: solid black 1px;">
            <!-- TODO
            supprimer le nichoir
            -->
            <form class="delete" method="post" action="/deleteNichoir/{{ nichoir.id }}"><button type="submit" class="cross">X</button></form>
            <div class="photo_nichoir" style="background-image: url('{{nichoir.photo}}')"></div>
            <h1 class="nom_nichoir">{{ nichoir.nom }}</h1>
            <h2 class="date_nichoir">Date d'installation : {{ nichoir.date_installation | date("m/d/Y") }}</h2>
            <p style="clear: both;"></p>
            <h2 class="geoloc">Géolocalisation :<br><br>
            <span>Latitude : {{ nichoir.geolocalisation.latitude }}</span><br>
            <span>Longitude : {{ nichoir.geolocalisation.longitude }}</span>
            </h2>
        </div>
    {% endfor %}
    </div>

{% endblock %}
